@keyframes slideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: slideIn 0.8s ease-out forwards;
}

.result-box {
  background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}